* {
  margin: 0;
  padding: 0;
}

.vertical-nav-bar {
  background-color: #040b14;
  height: 100vh;
  position: relative;
}
.nav-link {
  color: #a7a8b3 !important;
  padding-left: 24px;
  padding-bottom: 24px;
}
.nav-icon {
  color: #6a6d7c;
  margin-left: 16px;
}

.social-icon {
  padding-bottom: 40px;
}

.copyright-section {
  position: absolute;
  bottom: 0;
  color: #f3f6fc;

  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.8rem;
}
