.about{
    font-size: 2rem;
    padding-bottom: 5px;
    
}
/* .heading{
    color: #043676;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}  */
.image{
    padding-top: 8px;
}
.container3,.list{
    display:flex;
}


.image-profile{
    width: 450px;
    margin-right: 32px

}

.list2{

    margin-left: 40px;
}

/* .heading{
    padding-bottom: 10px;   
} */

hr{
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
   border-width: 0px;
   padding-left: 0px;
   padding-top: 0px;
   padding-right: 0px;
   
}

.icon{
    color: rgb(32, 192, 228);
}

.inner-heading{
    font-size: 1.8rem;
    color: #173b6c;
}